<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.varenytsiamykhailo.numericaltaskssolver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NumericalTasksSolver">
        <activity
            android:name=".methodstypesactivities.optimizationmethods.InputSvennMethodDataActivity"
            android:exported="false" />
        <activity
            android:name=".methodstypesactivities.optimizationmethods.InputOptimizationDataActivity"
            android:exported="false" />
        <activity
            android:name=".methodstypesactivities.OptimizationMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".methodstypesactivities.integralsolvingmethods.InputIntegralDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.MethodInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.systemsolvingmethods.othermethods.OtherMethodsSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.AnswerSolutionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.systemsolvingmethods.jacobiseidelmethods.JacobiSeidelMethodsSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.systemsolvingmethods.InputSystemDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.IntegralMethodsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".methodstypesactivities.SystemSolvingMethodsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>